<!DOCTYPE html>
<html>
  <head>
    <title>Readit</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='wrapper'>
      <header>
        <%= link_to image_tag('Me.jpg', alt: 'New Think Tank'), { controller: 'pages', action: 'home' }, { class: 'websiteLogo' } %>

        <%= link_to 'READIT', { controller: 'pages', action: 'home' }, { class: 'websiteTitle'} %>
      </header>
      <nav id='horzNav'>
        <p>
          <%= link_to 'Home', { controller: 'pages', action: 'home' } %>
          <%= link_to 'About', { controller: 'pages', action: 'about' } %>
          <%= link_to 'Directions', { controller: 'pages', action: 'directions' } %>
          <%= link_to 'Articles', { controller: 'articles', action: 'index' } %>
          <%= link_to 'User', { controller: 'users', action: 'index' } %>
        </p>
      </nav>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
